<div class="main-body">
    <div class="main-layout">

        <div class="title">
            <h1>Programmer quotes</h1>
        </div>

        <div class="quote-window">
            <button type="button">Like</button>
            <textarea rows="16" cols="150" placeholder="Que tu mejor objetivo el día de hoy sea ganarle a esa excua!"></textarea>
            <button type="button">Dislike</button>
        </div>

        <div class="btn-panel">
            <button type="button">Next</button>
            <button type="button">Submit</button>
        </div>

        @for (quote of quotes; track quotes) {
            <p>{{quotes}}</p>
        }
        
    </div>
</div>